<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Classes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<header th:insert="templates/header :: header"></header>
<div class="container">
    <form method="post" action="/classes/search">
        <div class="d-flex flex-row">
            <select name="group" class="form-select m-1" aria-label="Default select example">
                <option selected value="0">Select group</option>
                <th:block th:each="group : ${groups}">
                    <option th:value="${group.getId()}" th:text="${group.getGroupName()}">GroupName</option>
                </th:block>
            </select>
        </div>
        <div class="d-flex flex-row">
            <input class="form-control m-1" type="date" name="start"
                   min="2021-01-01" max="2021-12-31">
            <input class="form-control m-1" type="date" name="end"
                   min="2021-01-01" max="2021-12-31">
        </div>
        <br>
        <div class="d-grid gap-2">
            <button class="btn btn-primary m-1" type="submit">Button</button>
        </div>
    </form>
</div>
<script src="/js/bootstrap.js"></script>
</body>
</html>