<div class="container d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" th:fragment="header">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-3">Timetable viewer system</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link" aria-current="page"
                                th:classappend="${active == 'home' ? 'active' : ''}">Home</a></li>
        <li class="nav-item"><a href="/classes" class="nav-link"
                                th:classappend="${active == 'classes' ? 'active' : ''}">Classes</a></li>
        <li class="nav-item"><a href="/groups" class="nav-link"
                                th:classappend="${active == 'groups' ? 'active' : ''}">Groups</a></li>
        <li class="nav-item"><a href="/students" class="nav-link"
                                th:classappend="${active == 'students' ? 'active' : ''}">Students</a></li>
        <li class="nav-item"><a href="/teachers" class="nav-link"
                                th:classappend="${active == 'teachers' ? 'active' : ''}">Teachers</a></li>
        <li class="nav-item"><a href="/users" class="nav-link" sec:authorize="hasRole('ADMIN')"
                                th:classappend="${active == 'users' ? 'active' : ''}">Users</a></li>

    </ul>

    <div class="col-md-3 text-end">

    <a href="/login" class="btn btn-outline-primary me-2" sec:authorize="isAnonymous()"
       th:classappend="${active == 'login' ? 'btn-primary text-white' : 'btn-outline-primary'}">Login</a>

        <form th:action="@{/logout}" method="post" class="d-inline" sec:authorize="isAuthenticated()">
            <input type="submit" class="btn btn-outline-primary me-2" value="Logout"/>
        </form>

        <a href="/signup" type="button" class="btn btn-primary" sec:authorize="isAnonymous()">Sign-up</a>
    </div>
</div>