<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Add new group</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<header th:insert="templates/header :: header"></header>

<div class="container">
    <form method="post" action="/groups/edit">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Group name</span>
            <input type="text" class="form-control" name="groupName" th:value="${group.getGroupName()}"
                   aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <input type="text" class="d-none" th:value="${group.getId}">
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary" type="submit">Edit group</button>
        </div>
    </form>
</div>
<script src="/js/bootstrap.js"></script>
</body>
</html>