<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Edit group</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<header th:insert="templates/header :: header"></header>

<div class="container">
    <p class="h5">Edit group</p>
    <br>
    <div th:if="${errorMessage != null}" class="alert alert-danger" role="alert">
        <p th:text="${errorMessage}" class="h6">Error message</p>
    </div>

    <form method="post" action="/groups/edit" th:if="${errorMessage == null}">
        <div class="mb-3">
            <label for="groupName" class="form-label">Group name</label>
            <input type="text" class="form-control" id="groupName"
                   th:value="${group.getGroupName()}" name="groupName">
        </div>
        <input type="text" class="d-none" th:value="${group.getId}" name="id">
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary" type="submit">Edit group</button>
        </div>
    </form>
</div>
<script src="/js/bootstrap.js"></script>
</body>
</html>