<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
</head>
<body>
    <header class="container d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Timetable viewer system</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/classes" class="nav-link">Classes</a></li>
            <li class="nav-item"><a href="/groups" class="nav-link">Groups</a></li>
            <li class="nav-item"><a href="/students" class="nav-link">Students</a></li>
            <li class="nav-item"><a href="/teachers" class="nav-link">Teachers</a></li>
        </ul>
    </header>
</body>
</html>