<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Timetable</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<header th:insert="templates/header :: header"></header>

<div class="container">
    <div class="row">
        <div class="col">
            <p class="h5">Time table on</p>
        </div>
        <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/lessons/new" class="btn btn-primary" type="button"
               sec:authorize="hasRole('ADMIN')">Add new timetable</a>
        </div>
    </div>
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/lessons?day=1" class="nav-link" aria-current="page"
                                th:classappend="${activeDay == 1 ? 'active' : ''}">Monday</a></li>
        <li class="nav-item"><a href="/lessons?day=2" class="nav-link"
                                th:classappend="${activeDay == 2 ? 'active' : ''}">Tuesday</a></li>
        <li class="nav-item"><a href="/lessons?day=3" class="nav-link"
                                th:classappend="${activeDay == 3 ? 'active' : ''}">Wednesday</a></li>
        <li class="nav-item"><a href="/lessons?day=4" class="nav-link"
                                th:classappend="${activeDay == 4 ? 'active' : ''}">Thursday</a></li>
        <li class="nav-item"><a href="/lessons?day=5" class="nav-link"
                                th:classappend="${activeDay == 5 ? 'active' : ''}">Friday</a></li>
        <li class="nav-item"><a href="/lessons?day=6" class="nav-link"
                                th:classappend="${activeDay == 6 ? 'active' : ''}">Saturday</a></li>
    </ul>

    <br>
    <div th:if="${errorMessage != null}" class="alert alert-danger" role="alert">
        <p th:text="${errorMessage}" class="h6">Error message</p>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Classroom</th>
            <th:block th:each="slot : ${slots}">
                <th scope="col" th:text="${slot.getNumber} + ' ' + ${slot.lessonTime}">lessonSlot</th>
            </th:block>
        </tr>
        </thead>
        <tbody>
        <tr th:each="classroom : ${classrooms}">
            <th scope="col" th:text="${classroom.getNumber}">classroom</th>
            <th:block th:each="slot : ${slots}">
                <th scope="col">
                    <th:block th:each="lesson : ${lessons}">
                        <div th:if="${lesson.getClassroomId == classroom.getId} and ${lesson.getLessonSlotId == slot.getId}">
                            <p th:text="${lesson.getGroupName}"></p>
                            <p th:text="${lesson.getCourseName}"></p>
                            <p th:text="${lesson.getTeacherName}"></p>
                            <a class="btn btn-warning btn-sm" type="button" sec:authorize="hasRole('ADMIN')"
                               th:href="'/lessons/edit/' + ${lesson.getId()}">Edit</a>
                        </div>
                    </th:block>
                </th>
            </th:block>
        </tr>
        </tbody>
    </table>
</div>
<script src="/js/bootstrap.js"></script>
</body>
</html>