<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Add new lessons</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<header th:insert="templates/header :: header"></header>

<div class="container">
    <p class="h5">Add new lessons</p>
    <br>
    <div th:if="${errorMessage != null}" class="alert alert-danger" role="alert">
        <p th:text="${errorMessage}" class="h6">Error message</p>
    </div>

    <form method="post" th:action="@{/lessons/new}" th:if="${errorMessage == null}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col"> </th>
                <th scope="col">101</th>
                <th scope="col">102</th>
                <th scope="col">103</th>
                <th scope="col">104</th>
                <th scope="col">105</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="col">1</th>
                <th scope="col">
                    <select name="group1" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option >1</option>
                        <option >2</option>
                        <option >3</option>
                        <option >4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group1" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group1" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group1" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group1" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th scope="col">2</th>
                <th scope="col">
                    <select name="group2" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group2" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group2" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group2" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group2" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th scope="col">3</th>
                <th scope="col">
                    <select name="group3" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group3" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group3" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group3" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group3" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th scope="col">4</th>
                <th scope="col">
                    <select name="group4" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group4" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group4" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group4" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group4" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th scope="col">5</th>
                <th scope="col">
                    <select name="group5" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group5" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group5" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group5" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group5" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th scope="col">6</th>
                <th scope="col">
                    <select name="group6" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group6" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group6" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group6" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
                <th scope="col">
                    <select name="group6" class="form-select mt-1" aria-label="Default select example">
                        <option>Select group</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </th>
            </tr>
            </tbody>
        </table>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>

    </form>
</div>
<script src="/js/bootstrap.js"></script>
</body>
</html>